---
layout: home
---

{% assign ordered_work = site.data.workOrder.work_order | map: "work" %}

{% for work_title in ordered_work %}
{% assign work = site.works | where: "title", work_title | first %}
{% if work %}
<div class="work-item-container is-visible">
  <div class="work-item is-flex is-flex-direction-row is-align-items-stretch {{ work.tags | join: ' ' }}">
    <div class="image">
      <div>
        <a href="{{ work.url | relative_url }}">
        {% if work.thumbnail and work.thumbnail != '' %}
            {% capture image_path %}{{ work.thumbnail }}{% endcapture %}
            {% capture sm_image_path %}{{ image_path | resize: '1600x1600>' }}{% endcapture %}
            {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
            {% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}</a>
        {% else %}
          <img src="https://placehold.co/1024x768">
        {% endif %}
        </a>
      </div>
    </div>
    <div class="mr-4 credits fade-out">
      <h5>
        {% for category in work.categories %}
        <a href="{{ category }}" class="category-title">
          {{ category | capitalize }}
        </a>
        {% endfor %}
      </h5>
      <h4>
        <a href="{{ work.url | relative_url }}">{{ work.title }}</a>
        {% if work.link and work.link != "" %}
          <a href="{{ work.link | strip }}" class="external-arrow" target="_blank">↗</a>
        {% endif %}
      </h4>

      {% if work.client and work.client != work.title and work.client != "" %}
      <h6>
        {{ work.client }}
        {% if work.client_link %}
          <a href="{{ work.client_link | strip }}" class="external-arrow" target="_blank">↗</a>
        {% endif %}
        {% if (work.when or work.where) and (work.when != "") and (work.where != "") %}
          - {% if work.where and work.where != "" %}{{ work.where }} {% endif %}{% if work.when and work.when != "" %}({{ work.when }}){% endif %}
        {% endif %}
      </h6>
      {% elsif (work.when or work.where) and (work.when != "") and (work.where != "")  %}
        <h6>
          {% if work.where and work.where != "" %}{{ work.where }} {% endif %}{% if work.when and work.when != "" %}({{ work.when }}){% endif %}
        </h6>
      {% endif %}

      {% if work.role and work.role != "" %}
      <div class="detail my-2 has-text-weight-semibold">
        Role: {{ work.role }}
      </div>
      {% endif %}

      {% if work.team and work.team != "" %}
      <div class="detail is-size-6">
        <span class="has-text-weight-semibold">Team:</span> <span class="convert-md" data-md="{{ work.team }}"></span>
      </div>
      {% endif %}

      {% if work.partners and work.partners != "" %}
      <div class="detail is-size-6">
        <span class="has-text-weight-semibold">Partners:</span> <span class="convert-md" data-md="{{ work.partners }}"></span>
      </div>
      {% endif %}
    </div>

    <div class="mx-1 description">
      <div class="mb-2 mr-2 level">
        <span class="level-left">&nbsp;</span>
      </div>
      {% if work.content %}
      <div class="summary fade-out has-text-justified">
        <span class="convert-md" data-md="{{ work.content | strip_html | truncatewords: 300, '...' }}"><img src="{{ site.baseurl }}assets/red-loader.svg"></span>
        <p class="has-text-right">
          <a class="ml-2" href="{{ work.url | relative_url }}">Read more →</a>
        </p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
