<script>
  function filterTag(tag) {
    const allWorkItems = document.getElementsByClassName('work-item');
    const visibleWorkItems = tag ? document.getElementsByClassName(`work-item ${tag}`) : allWorkItems;
    // reset no works to display msg
    document.getElementsByClassName('no-works-msg')[0].classList.remove('is-flex');
    document.getElementsByClassName('no-works-msg')[0].classList.add('is-hidden');
    if (allWorkItems.length !== visibleWorkItems.length) {
      for (const elem of allWorkItems) {
        var workItemContainer = elem.closest('.work-item-container');
        workItemContainer.classList.add('is-hidden');
        workItemContainer.classList.remove('is-visible');
      }
      if (visibleWorkItems.length == 0) {
        document.getElementsByClassName('no-works-msg')[0].classList.remove('is-hidden');
        document.getElementsByClassName('no-works-msg')[0].classList.add('is-flex');
      }
    }
    // show only matched tag works
    for (const elem of visibleWorkItems) {
      var workItemContainer = elem.closest('.work-item-container');
      workItemContainer.classList.remove('is-hidden');
      workItemContainer.classList.add('is-visible');
      // elem.classList.add('is-flex');
    }
    // reset tag highlights
    const highlightedTags = document.querySelectorAll('.tags-bar .current');
    for (const elem of highlightedTags) {
      elem.classList.remove('current');
    }
    // highlight currently selected tag
    if (tag) {
      const currentTag = document.querySelector(`.tags-bar .${tag}`);
      currentTag.classList.add('current');
    }
  }
  var hash = window.location.hash.substr(1);
  filterTag(hash);
</script>