{% if include.image_src %}
  <!-- If javascript is not on. -->
  <noscript><img src="{{include.image_src}}" alt="{{include.image_alt}}" title="{{include.image_title}}" /></noscript>
  <!-- If javascript is present. -->
  <img src="{{ include.lq_image_src }}" data-src="{{include.image_src}}" alt="{{include.image_alt}}" title="{{include.image_title}}" class="blur-up lazyload" />
{% endif %}