<section class="main">
  <h1>Coming soon</h1>

  <p><strong>Page currently not available</strong></p>
  <p>{{ site.data.site_config.settings.construction_text }}</p>
  <p><a href="javascript:history.back()">← Back</a></p>
</section>