.top-boxes .column, .bio-boxes .column {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  ul {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.top-boxes > div {
  min-height: 300px;
}
.bio-boxes {
  .headshot {
    img {
      width: 100%;
    }
  }
}