$text-padding: 2.5em;

.top-boxes .column, .bio-boxes .column {
  // h1, h2, h3, h4, h5, h6 {
  //   margin: 0;
  // }
  // ul {
  //   margin-top: 0;
  //   margin-bottom: 0;
  // }
  line-height: 1.125;
}
.top-boxes {
  margin-bottom: 0 !important;
  .column {
    padding: $text-padding;
  }
}
.top-boxes > div {
  // min-height: 300px;
}
.bio-boxes {
  .headshot {
    img {
      width: 100%;
    }
  }
  .bio-text {
    padding: inherit $text-padding;
  }
}
.divider-line {
  height: 0;
  border-bottom: 1px $text solid;
  margin: 0 0 $text-padding 0 !important;
}