$grid-image-size: 260px;

.more-arrow {
  display: inline-block;
  padding: 0.1rem 0.2rem;
  margin-left: 0.2rem;
  // font-style: italic;
}
.site-header {
  .more-arrow {
    margin-left: 0;
    padding: 0.1rem 0;
  }
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  // width: 33.333%;
  width: calc(#{$grid-image-size} + 20px);
}

.grid-item {
  float: left;
  text-align: center;
  padding: 0.4rem 0.6rem;
  margin-bottom: 2em;
  .thumbnail {
    overflow: hidden;
    height: $grid-image-size;
    width: $grid-image-size;
    margin: 0 auto;
    & > div {
      height: 100%;
      width: auto;
      img {
        max-width: none;
        height: 100%;
        transform: translateX(-20%);
        filter: saturate(0%);
        transition-property: filter;
        transition-duration: 1.4s;
        transition-delay: 200ms;
        &:hover {
          filter: saturate(100%);
        }
      }
    }
  }
  // img {
  //   display: block;
  //   width: 100%;
  //   max-width: 100%;
  //   margin: 0 auto;
  // }
  .preview {
    margin-top: 0.5rem;
  }
  .title {
    margin-bottom: 0.5rem;
  }
  .summary {
    font-size: 0.9rem;
    text-align: center;
  }
  .tags-list {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
}