$sidebar-width: 280px;

body {
  font-size: 1.2em;
}

.big-container {
  width: 100vw;
  height: 100vh;
  padding: 0.8rem;
  background: #effebf;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
nav {
  > div {
    margin-bottom: 1rem;
    &.nav-items {
      > div {
        margin-bottom: 0.5rem;
      }
    }
  }
}
.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  .first {
    // border: 1px #c29ca2 solid;
    width: $sidebar-width;
    // padding: 0.6rem;
    @include until($mobile-screen) {
      width: calc(#{$sidebar-width} - 80px);
    }
  }
  .second {
    // border: 1px #c29ca2 solid;
    // padding: 0.6rem;
    // margin: 0 0 0 2em;
    display: flex;
    flex-direction: column;
    width: calc(100vw - #{$sidebar-width});
    @include until($mobile-screen) {
      width: calc(100vw - #{$sidebar-width} + 80px);
    }
    .fixed-top {
      padding: 1em;
      margin-top: 1em;
    }
    .main {
      padding: 1em;
      margin-top: 1em;
      overflow-y: scroll;
      width: 100%;
      .page-content {
        width: 100%;
        & > img, & > p > img {
          @include until($medium-screen) {
            width: 100%;
          }
          max-width: 1600px;
          max-height: 800px;
          padding: 2rem;
        }
      }
    }
  }
}

footer {
  padding: 0.5rem;
  position: fixed;
  // width: 100vw;
  z-index: 20;
  background: none;
  bottom: 0;
  right: 0;
  text-align: right;
  // align-self: flex-end;
}