$sidebar-width: 360px;

.site-title, .category-title {
  font-family: "Physis", sans-serif !important;
  font-weight: 600 !important;
  text-transform: uppercase;
}

.external-arrow {
  position: relative;
  margin: 0;
  color: $link !important;
  text-decoration: none;
  border: none !important;
}

body {
  font-size: 0.9em;
}

.big-container {
  width: 100vw;
  height: 100vh;
  padding: 0.8rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
}
nav {
  .work-categories-container {
    .work-categories {
      overflow: hidden;
      transition: max-height 1.25s ease-in-out;
      &:not(.hidden-nav) {
        max-height: 400px;
      }
      &.hidden-nav {
        max-height: 0;
      }
      // margin-top: -0.7rem !important;
      > div:not(.tags-bar) {
        // text-align: left;
        // padding-left: 5.5em;
        > a {
          color: $link !important;
          // font-size: 1em !important;
        }
      }
    }
  }
  > div {
    margin-bottom: 1rem;
    &.nav-items {
      .nav-item {
        > a {
          color: $text;
        }
      }
      > div:not(.tags-bar) {
        // margin: 0.7rem 0 1rem 0;
        text-align: right;
        .current {
          font-weight: 600 !important;
        }
      }
      div.tags-bar {
        margin: 0.2rem 0;
      }
      a {
        font-size: 1.2em;
        font-weight: 600;
        &.is-tag {
          font-size: 0.9em;
          @include until($mobile-screen) {
            font-size: 0.8em;
          }
        }
        &:not(.is-tag) {
          font-family: "Physis", sans-serif !important;
          text-transform: uppercase;
          line-height: 0.8;
        }
      }
    }
  }
}
.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  height: 100%;
  .first {
    overflow-y: auto;
    z-index: 15;
    // text-align: center;
    width: $sidebar-width;
    padding: 1rem 2.6rem;
    @include until($mobile-screen) {
      font-size: 0.8rem;
      padding: 1rem 1.2rem 1rem 0.5rem;
    }
    .site-header {
      text-align: left;
      margin: 3.2rem 0;
      h1 {
        font-size: 1.4em !important;
        @include until($mobile-screen) {
          font-size: 1.4em !important;
        }
      }
    }
    @include until($mobile-screen) {
      width: calc(#{$sidebar-width} - 180px);
    }
  }
  .second {
    // padding: 0.6rem;
    // margin: 0 0 0 2em;
    display: flex;
    flex-direction: column;
    width: calc(100vw - #{$sidebar-width});
    @include until($mobile-screen) {
      width: calc(100vw - #{$sidebar-width} + 180px);
      padding-left: 0.5em;
    }
    .fixed-top {
      padding: 0 1em;
      margin-top: 1em;
      max-width: 1200px;
      .tags-bar {
        margin-top: 1em;
      }
    }
    .main {
      padding: 1em;
      margin-top: 1em;
      overflow-y: auto;
      width: 100%;
      .page-content {
        width: 100%;
        & > img, & > p > img {
          @include until($small-screen) {
            width: 100%;
          }
          @include until ($medium-screen) {
            max-width: 800px;
          }
          @include until ($large-screen) {
            max-width: 980px;
          }
          max-width: 1200px;
          max-height: 800px;
          padding: 2rem;
        }
      }
    }
  }
}

.splash-cover {
  margin-top: calc(3.2rem * 2 + 104px - 1em);
  font-size: 1.4em;
  @include until($mobile-screen) {
    margin-top: calc(3.2rem * 2 + 100px - 1.5em);
    line-height: 1.2em;
    font-size: 1em;
  }
  font-weight: 600;
}
#contact {
  text-align: center;
  font-weight: 600;
}

.bottom-link {
  width: 100%;
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0;
  div {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    font-family: "Physis", sans-serif;
    text-transform: uppercase;
    padding: 60px 0 0.5rem 0;
    overflow-y: hidden;
    background: $white;
    --mask: linear-gradient(to top,
        rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 58%,
        rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
}

footer {
  padding: 0.5rem;
  position: fixed;
  // width: 100vw;
  z-index: 20;
  background: none;
  bottom: 0;
  right: 0;
  text-align: right;
  // align-self: flex-end;
}