.is-tag {
  font-weight: 600 !important;
  display: inline !important;
  color: #fe7363;
}

.tags-bar {
  h6 a {
    font-size: 0.9rem;
  }
  .current {
    color: #000;
    &:hover {
      cursor: default;
    }
  }
}