.is-tag {
  color: $white;
  background-color: rgb(81, 122, 223);
  border: 1px solid rgb(81, 122, 223);
  display: inline-block;
  padding: 0px 4px 4px 4px;
  text-align: center;
  font-weight: 600 !important;
  line-height: 1.0;
  &:hover {
    color: rgb(81, 122, 223);
    background-color: #fff;
    border: 1px solid rgb(81, 122, 223);
  }
  margin-top: 2px;
  margin-bottom: 2px;
}

.tags-list {
  span:not(:last-child) {
    margin-right: 6px;
  }
}