.is-tag {
  color: $text;
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid $text;
  text-align: center;
  font-weight: 600;
  line-height: 1.0;
  &:hover {
    color: #fff;
    background-color: $text;
    border: 1px solid $text;
  }
}

.tags-list {
  span:not(:last-child) {
    margin-right: 6px;
  }
}