.work-item-info {
  margin-top: 2rem;
  .convert-md {
    p {
      display: inline;
    }
  }
  .description {
    margin: 2rem 0;
    .youtube-video {
      position: relative;
      width: 100%;
      padding-bottom: 56.25%;
      iframe[title='YouTube video player'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
      }
    }
  }
}
.header {
  position: relative;
  display: block;
  .image-carousel {
    width: 100%;
    overflow: hidden;
    visibility: hidden;
      &.slick-initialized {
          visibility: visible;
          display: block;
      }
      .slick-slide {
        display: inline-block;
        position: relative;
        height: 100%;
        max-height: 90vh;
          img {
            display: inline-block;
            position: relative;
            //width: 60rem;
            width: 100%;
            height: 100%;
            //margin: 0 auto;
            //width: 100%;
          }
      }
      button {
          display: none;
      }
  }
}

.related {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 2px solid $link;
}
