$work-item-height: 260px;

.category-title {
  color: $link !important;
}

.tags-bar {
  div:not(:last-child) {
    padding: 0.2rem;
    margin-right: 1rem;
  }
  h6 a {
    font-size: 0.9rem;
  }
  .current {
    color: #fff !important;
    background-color: $text !important;
    border: 1px solid $text !important;
    &:hover {
      cursor: default;
      color: #fff !important;
      background-color: $text !important;
      border: 1px solid $text !important;
    }
  }
}

.is-visible.work-item-container ~ .is-visible {
  &::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: $text;
    margin: 1em 0;
  }
}
.work-item {
  // &.is-flex:not(:last-of-type) {
  //   padding-bottom: 1.5rem;
  //   margin-bottom: 1.5rem;
  //   border-bottom: 1px solid $text;
  // }
  & > div {
    width: 33.3%;
    max-width: 620px;
    @include until($small-screen) {
      width: 50%;
    }
    @include until($mobile-screen) {
      width: 100%;
    }
  }
  .credits {
    overflow: hidden;
    max-height: $work-item-height;
    transition: max-height 1s ease-out;
    @include until($medium-screen) {
      max-height: calc(#{$work-item-height} - 40px);
    }
    @include from($large-screen) {
      max-height: calc(#{$work-item-height} + 90px);
    }
    .is-tag {
      margin-top: 0px !important;
    }
  }
  &:not(:hover) .credits, &:not(:hover) .summary {
    overflow-y: hidden;
    --mask: linear-gradient(to bottom,
        rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 77%,
        rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
  &:hover {
    .credits {
      max-height: 400px;
      transition: max-height 1.25s ease-in;
    }
    .summary {
      &::webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      overflow-y: auto;
      max-height: calc(400px - 1.2em - 1rem);
      transition: max-height 1.25s ease-in;
    }
  }

  .detail, .summary {
    font-size: 0.9rem;
    line-height: 1rem;
  }
  .image {
    max-width: 600px;
    margin-right: 4rem;
    overflow: hidden;
    height: $work-item-height;
    @include until($mobile-screen) {
      display: none;
    }
    @include until($medium-screen) {
      height: calc(#{$work-item-height} - 40px);
    }
    @include from($large-screen) {
      height: calc(#{$work-item-height} + 90px);
    }
    & > div {
      height: 100%;
      width: auto;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    // font-weight: 400;
  }
  h4 {
    a {
      color: $text;
      border-bottom: 1px dotted $text;
    }
  }
  h5 {
    font-weight: 400;
    text-transform: lowercase;
  }
  .description {
    min-width: 200px;
    max-width: 420px;
    @include until($small-screen) {
      display: none;
    }
  }
  .detail {
    a:not(.external-arrow) {
      color: $text;
      border-bottom: 1px dotted $text;
    }
  }
  .summary {
    min-height: calc(#{$work-item-height} - 4em);
    max-height: calc(#{$work-item-height} - 3em);
    transition: max-height 1s ease-out;
    @include until($medium-screen) {
      max-height: calc(#{$work-item-height} - 40px - 3em);
    }
    @include from($large-screen) {
      max-height: calc(#{$work-item-height} + 90px - 3em);
    }
  }
  .tags-list {
    font-size: 0.9rem;
    margin-bottom: 1.5em;
  }
}