@charset "utf-8";

@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JetBrain Mono";
  src: url("/assets/JetBrainsMono-ThinItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono-SemiBold.woff2") format("woff2");
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/JetBrainsMono-Regular.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@import "./bulma-0.9.4/bulma.sass";
@import "./slick/slick-theme.scss";

$large-screen: 2100px;
$medium-screen: 1600px;
$small-screen: 1024px;
$mobile-screen: 769px;

@import "_home.scss";
@import "_layout.scss";
@import "_work-list.scss";
@import "_work-item.scss";
@import "_tags.scss";