@charset "utf-8";

@font-face {
  font-family: "Physis";
  src: url("/assets/RNSPhysis-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Physis";
  src: url("/assets/RNSPhysis-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Physis";
  src: url("/assets/RNSPhysis-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}



@import "./bulma-0.9.4/bulma.sass";
@import "./slick/slick-theme.scss";

$large-screen: 2100px;
$medium-screen: 1600px;
$small-screen: 1024px;
$mobile-screen: 769px;

// h1, h2, h3, h4, h5, h6 {
//   font-family: $family-secondary;
// }

@import "_home.scss";
@import "_about.scss";
@import "_layout.scss";
@import "_columns.scss";
@import "_work-list.scss";
@import "_work-item.scss";
@import "_tags.scss";