---
layout: page
---

<div class="columns top-boxes">
  <div class="column is-half">
    {{ site.data.about.top_left }}
  </div>
  <div class="column is-half">
    {{ site.data.about.top_right }}
  </div>
</div>
<div class="columns bio-boxes">
  <div class="column headshot">
    {% capture image_path %}{{ site.data.about.photo }}{% endcapture %}
    {% capture sm_image_path %}{{ image_path | resize: '1600x800>' }}{% endcapture %}
    {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
    {% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}
  </div>
  <div class="column is-two-thirds">
    {{ site.data.about.main }}
  </div>
</div>