<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amy Gottung</title>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href='{{ "/assets/css/styles.css" | relative_url }}'>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.js"></script>
    <script src="{{ site.baseurl }}assets/js/lazysizes.min.js" async></script>
    <script src="{{ site.baseurl }}assets/js/showdown.min.js" async></script>
    <script src="{{ site.baseurl }}assets/js/scripts.js" async></script>

    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <div class="big-container">
      <div class="content">
        <nav class="first is-flex is-flex-direction-column">
          <div class="site-header">
            <h1>
              <span>
                {{ site.data.site_config.info.short_bio }}&nbsp;
                <span class="more-arrow">
                  <a href="/about">Read more →</a>
                </span>
              </span>
            </h1>
          </div>
          {% include nav.html %}
          <div id='contact'>
            {{ site.data.site_config.info.email }}
          </div>
        </nav>
        <div class="second">
          {{ content }}
        </div>
      </div>
    </div>
    <footer>
      &copy; Amy Gottung 2023
    </footer>
  </body>
</html>