<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Amy Gottung</title>
    <link rel="stylesheet" href='{{ "/assets/css/styles.css" | relative_url }}'>
    <script src="{{ site.baseurl }}assets/js/lazysizes.min.js" async></script>
    <script src="{{ site.baseurl }}assets/js/showdown.min.js" async></script>
    <script src="{{ site.baseurl }}assets/js/scripts.js" async></script>
  </head>
  <body>
    <div class="big-container">
      <div class="content">
        <nav class="first">
          <h1>
            <a href="/">
              {{ site.data.site_config.info.title }}
            </a>
          </h1>
          <div id='contact'>
            {{ site.data.site_config.info.email }}
          </div>
          {% include nav.html %}
        </nav>
        <div class="second">
          {{ content }}
        </div>
      </div>
    </div>
    <footer>
      &copy; Amy Gottung 2023
    </footer>
  </body>
</html>