---
layout: default
---

<section class="fixed-top">
  {{ page.short_bio }}
  <div class="more-arrow">
    <a href="/about">Read more →</a>
  </div>
</section>
<section class="main">
  <h2 class="key-header">
    Featured Works
  </h2>
  {{ content }}
</section>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>