---
layout: default
---

<section class="fixed-top">
  <span class="convert-md" data-md="{{ site.data.site_config.info.short_bio }}">
    <img src="{{ site.baseurl }}assets/red-loader.svg">
  </span>
  <div class="more-arrow">
    <a href="/about">Read more →</a>
  </div>
</section>
<section class="main">
  <h4 class="key-header">
    Featured
  </h4>
  {{ content }}
</section>

<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>