---
layout: default
---

<section class="main">
  <div class="splash-cover page-content">
    {{ content }}
  </div>
</section>
<!-- <section class="bottom-link">
  <div>
    <a href="/work">Work</a>
  </div>
</section> -->