---
layout: default
---

<section class="fixed-top">
  <div class="level">
    <div class="level-left tags-bar">
      <div>
        <h4 class="m-0">
          {{ page.title }}
          {% if page.link and page.link != "" %}
            <a href="{{ page.link | strip }}" target="_blank" class="external-arrow">↗</a>
          {% endif %}
        </h4>
      </div>
      {% for tag in page.tags %}
        <div>
          <h6 class="m-0">
            <a href="{{ site.baseurl }}{{ page.categories }}/#{{ tag }}" class="is-tag {{ tag | strip }}">
              #{{ tag }}
            </a>
          </h6>
        </div>
      {% endfor %}
    </div>
    <div class="level-right">
      <a href="{{ site.baseurl }}{{ page.categories }}">more {{ page.categories }} work →</a>
    </div>
  </div>
</section>
<section class="main">
  <div class="header">
    <div class="image-carousel">
      <div class="image">
        {% capture image_path %}{{ page.thumbnail }}{% endcapture %}
        {% capture sm_image_path %}{{ image_path | resize: '1600x800>' }}{% endcapture %}
        {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
        {% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}
      </div>
      {% for image_obj in page.images %}
        <div class="image">
          {% capture image_path %}{{ image_obj.image }}{% endcapture %}
          {% capture sm_image_path %}{{ image_path | resize: '1600x800>' }}{% endcapture %}
          {% capture lq_image_path %}{{ image_path | resize: '100x100>' }}{% endcapture %}
          {% include lazyload.html image_src=sm_image_path lq_image_src=lq_image_path %}
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="work-item-info">
    {% if page.client %}
    <div class="my-2">
      <span class="has-text-weight-semibold">Client:</span> {{ page.client }}{% if page.client_link %}<a href="{{ page.client_link | strip }}" class="external-arrow" target="_blank">↗</a>{% endif %}
    </div>
    {% endif %}
    {% if page.role and page.role != "" %}
    <div class="my-2">
      <span class="has-text-weight-semibold">Role:</span> {{ page.role }}
    </div>
    {% endif %}
    {% if page.when and page.when != "" %}
    <div class="my-2">
      <span class="has-text-weight-semibold">When:</span> {{ page.when }}
    </div>
    {% endif %}
    {% if page.where and page.where != "" %}
    <div class="my-2">
      <span class="has-text-weight-semibold">Where:</span> {{ page.where }}
    </div>
    {% endif %}
    {% if page.partners and page.partners != "" %}
    <div class="is-size-6">
      <span class="has-text-weight-semibold">Partners:</span> <span data-md="{{ page.partners }}" class="convert-md"><img src="{{ site.baseurl }}assets/red-loader.svg"></span>
    </div>
    {% endif %}
    {% if page.team and page.team != "" %}
    <div class="is-size-6">
      <span class="has-text-weight-semibold">Team:</span> <span data-md="{{ page.team }}" class="convert-md"><img src="{{ site.baseurl }}assets/red-loader.svg"></span>
    </div>
    {% endif %}

    <div class="description">
      {{ content }}
    </div>

    {% assign related_works = "" | split,"" %}
    {% for work in site.works %}
      {% for tag in page.tags %}
        {% if work.tags contains tag and work.title != page.title %}
          {% assign related_works = related_works | push:work %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% assign related = related_works | uniq %}
    {% unless related == empty %}
    <div class="related">
      <h5>
        Related Work
      </h5>

      <div class="grid">
        {% assign ordered_work = site.data.workOrder.work_order %}
        {% for related_work in related %}
          {% assign active_related_work = ordered_work | where: "work", related_work.title | first %}
          {% if active_related_work %}
          <div class="grid-item">
            <div class="thumbnail">
              <div>
                <a href="{{ related_work.url | relative_url }}">
              {% if related_work.thumbnail and related_work.thumbnail != '' %}
                  {% capture image_path %}{{ related_work.thumbnail }}{% endcapture %}
                  {% capture sm_image_path %}{{ image_path | resize: '600x600>' }}{% endcapture %}
                  <img src="{{ sm_image_path }}">
              {% else %}
                <img src="https://placehold.co/1024x768">
              {% endif %}
                </a>
              </div>
            </div>
            <div class="preview">
              <a href="{{ related_work.url | relative_url }}"><h6 class="title">{{ related_work.title }}</h6></a>
              <div class="summary">
                {% for tag in related_work.tags %}
                  <span class="mr-2">
                    <a href="{{ site.baseurl }}{{ related_work.categories }}/#{{ tag }}" onClick="filterTag('{{tag}}')" class="is-tag">
                      #{{ tag }}
                    </a>
                  </span>
                {% endfor %}
              </div>
            </div>
          </div>
          {% endif %}
        {% endfor %}
      </div>

    </div>
    {% endunless %}
  </div>
</section>

<!--work-item.html specific scripts-->
<script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.image-carousel').slick({
      autoplay: true,
      autoplaySpeed: 6000,
      pauseOnHover: false,
      pauseOnFocus: false,
      cssEase: 'linear',
      arrows: false,
      fade: true,
      dots: false
    });

    $('iframe[title="YouTube video player"]').wrap('<div class="youtube-video"></div>');
  });

  var grid = document.querySelector('.grid');
  var msnry;

  imagesLoaded( grid, function() {
    // init Isotope after all images have loaded
    msnry = new Isotope( grid, {
      layoutMode: 'fitRows',
      itemSelector: '.grid-item'
      // percentPosition: true
    });
  });
</script>